# For Loops and While loops

In [10]:
#For loops allows you to iterate through sequence

seq=[1,2,3,4,5]

In [11]:
for item in seq:
    print(item)

1
2
3
4
5

In [12]:
for item in seq:
    print('Hello ' + str(item))

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [13]:
#while loop to continually perform an action until some condition is met
i = 1 

while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

In [14]:
for x in seq: 
    print (x)

1
2
3
4
5

In [22]:
#range function is used to start generate the numbers, start number is 0 if the same is not mentioned in the list


for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [23]:
range(1,10)

range(1, 10)

In [24]:
#convert it to list using range functions
a=list(range(1,10))

In [25]:
type(a)

list

# List comprehension

In [26]:
x=[1,2,3,4]

In [30]:
#usinng for Loop
#empty list
out=[]

#append value in an empty list using x
for num in x:
    out.append(num *2)

In [31]:
print(out)

[2, 4, 6, 8]

In [32]:
#using List Comprehension
[num * 2 for num in x]

[2, 4, 6, 8]

In [33]:
out=[num*2 for num in x]

In [34]:
out

[2, 4, 6, 8]

# Functions

In [38]:
#simple functions
def my_func(param1):
    print(param1)

In [39]:
my_func('Hello Milan!')

Hello Milan!

In [43]:
def my_func1(name):
    print('hello ' + name)

In [44]:
my_func1('milan')

hello milan

In [49]:
def my_func2(name='default name'):
    print('Hello '+ name)

In [52]:
my_func('Jose')

Jose

In [53]:
my_func2()

Hello default name

In [55]:
def square(num):
    '''squares the number'''    
    return num ** 2

In [56]:
square(2)

4

In [57]:
#do a shift tab to read about the function and docstring
square