# Dictionaries

In [4]:
#syntax for a dictionary
'''it starts with key followed by a : and value of a Key '''
d={'key1': 'value'}

In [6]:
d={'key1':123, 'key2' : 456}

In [9]:
print(d['key1'])
print(d['key2'])

'''NOT d[0] or d[1]'''

123
456

'NOT d[0] or d[1]'

In [10]:
#we can aslo include a list in the dictionary
e={'key1':[1,2,3]}

In [12]:
e['key1']

[1, 2, 3]

In [14]:
#now we can aslo do indexing on the list in a dict
print(e['key1'][0])
print(e['key1'][1])

1
2

In [16]:
my_list=e['key1']
print(my_list)

[1, 2, 3]

In [25]:
#dict within dict
f={'k1':{'innerkey':[1,2,3]}}

In [26]:
print(f['k1'])
print(f['k1']['innerkey'])
print(f['k1']['innerkey'][0] )

{'innerkey': [1, 2, 3]}
[1, 2, 3]
1

# Booleans

In [27]:
True

True

In [28]:
False

False

# Tuples

In [30]:
#in tuples we do not use square brackets like in lists

t=(1,2,3)

In [32]:
type(t)

tuple

In [33]:
#you can also index Tuples like list
t[1]

2

In [34]:
#we cannot re-assign any new assignment to a tuple. THEY ARE IMMUTABLE WHILE LISTS ARE MUTABLE
t[1]='New'

TypeError: 'tuple' object does not support item assignment

# Sets

In [37]:
#set is a collection of unique elements
{1,2,3,3,3,3,2,1}
#we still get the unique output

{1, 2, 3}

In [38]:
#can also use set as a function on the list to find the unique items
set([1,1,1,1,1,2,2,2,3,3,3,3,3])

{1, 2, 3}

In [39]:
#to add item to the set
s={1,2,3}

In [40]:
#use the add method
s.add(4)

In [42]:
#new item added
s

{1, 2, 3, 4}

# Comparison and Boolean operators

In [43]:
#compare two elements to each other

In [44]:
1>2

False

In [45]:
1<2

True

In [46]:
1==1

True

In [47]:
1==2

False

In [48]:
1 !=2

True

In [49]:
'hi'=='bye'

False

In [50]:
'hi' !='bye'

True

In [54]:
#combine logical operators
(1<2) and (2<3)

True

In [55]:
(1<2) and (2>3)

False

In [56]:
(1<2) or (2<3)

True

In [57]:
True and True

True

In [58]:
True and False

False

In [59]:
True or True

True

In [60]:
True or False

True

# If Elif and ELSE statements

In [61]:
#many time you want to execute the code if the condition is true. For that we use If, ELIF and Else statements

In [62]:
if 1 < 2 :
    print('yes')

yes

In [65]:
if 1 > 2:
    print(1+2)

In [66]:
#multiple conditions

if 1==2:
    print('first')
else:
    print('last')

last

In [71]:
#addtional conditions
#can add multiple elif statements depedning on the requirement

if 1==2:
    print('first')
elif 4==4:
    print('second')
elif 3==3:
    print('Middle')
else:
    print('last')
    
#it's going to execute first condition whichever is true and ends

second