# Regular arithmetic operations

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [9]:
1/2.0

0.5

In [6]:
2**4

16

In [7]:
2+3*5+5

22

In [8]:
(2+3) * (5+5)

50

In [14]:
#Modulas gives the remainder
4%2

0

In [15]:
5%2

1

# Variables Assignment

Cannot start with numbers or special symbols

In [26]:
var = 2

In [27]:
print(var)

2

In [28]:
#changing the value of variables
var=var+var

In [29]:
var

4

# String formatting

In [2]:
num=66
name='Milan'

In [3]:
'My name is {} nand my number is {}'.format(name, num)

'My name is Milan nand my number is 66'

In [6]:
#another way
print('My name is {one} and my number is {two}, and again name is {one}'.format(one=name, two=num))

My name is Milan and my number is 66, and again name is Milan

# Indexing strings

In [7]:
s='hello'

In [8]:
#start from zero index and grab everything beyond it
s[0:]

'hello'

In [9]:
#grab everything from 0 utpo but not including index 2
s[:2]

'he'

In [11]:
#combine the above by

s[0:2]

'he'

In [12]:
my_list=['a','b','c']

In [13]:
type(my_list)

list

In [15]:
my_list

['a', 'b', 'c', 'd']

In [14]:
#to add anything at the end of the list, use append method

my_list.append('d')

# Lists

List is also in a sequnce like a string. To grab the eg 2nd itme we use my_list[1]

In [16]:
my_list[1]

'b'

In [17]:
my_list[1:3]

['b', 'c']

In [21]:
#we can re-assign any element to the list by:
my_list[-1]='New'
print(my_list)

['a', 'b', 'c', 'New']

We can Nest list inside of each other.List of list

In [22]:
nest=[1,2,[3,4]]

In [25]:
print(nest[1])
print(nest[2])
print(nest[2][1])

2
[3, 4]
4

In [44]:
nest=[1,2,3,[4,5,['target']]]

In [45]:
nest[3][2][0]

'target'