# For Loops and While loops

# For Loops

In [19]:
#For loops allows you to iterate through sequence

seq=[1,2,3,4,5]

In [23]:
#simple for loop
for item in seq:
    print(item)

1
2
3
4
5

In [24]:
#reverse loop
for item in reversed(seq):
    print(item)

5
4
3
2
1

In [12]:
for item in seq:
    print('Hello ' + str(item))

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [16]:
for i in 'Python':     
    print('Current Letter :' + i)

Current Letter :P
Current Letter :y
Current Letter :t
Current Letter :h
Current Letter :o
Current Letter :n

In [26]:
#printing the list in a sorted order

l=[10,8,6,7,9,1,2,3,4,5]

for number in sorted(l):
    print (number)

1
2
3
4
5
6
7
8
9
10

In [31]:
# Enumerate Values and Corresponding Index

#initialize a list
items = [7, 1, 4, 9, 3]

#for each item in the list traverse (travel) the list
for index, value in enumerate(items):
    print ("print value of " + str(index) + " is  = " + str(value))

print value of 0 is  = 7
print value of 1 is  = 1
print value of 2 is  = 4
print value of 3 is  = 9
print value of 4 is  = 3

In [41]:
#Traversing Two or More Sequences

names = [ 'Alice', 'Bob', 'Trudy' ]
hobbies = [ 'painting', 'singing', 'hacking']
ages = [ 21, 17, 22 ]

#combine those list using zip() function
for person, age, hobby in zip(names , ages, hobbies):
    print(person+ " is " + str(age) + " years old and his/her hobby is " + hobby)

Alice is 21 years old and his/her hobby is painting
Bob is 17 years old and his/her hobby is singing
Trudy is 22 years old and his/her hobby is hacking

In [43]:
#What would be printed from the following Python code segment?
#range() syntax is range(start, stop, step)

for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [45]:
#nested loop
for x in range(1,6):
    for y in range(6,10):
        print(str(x) + " " + str(y))

1 6
1 7
1 8
1 9
2 6
2 7
2 8
2 9
3 6
3 7
3 8
3 9
4 6
4 7
4 8
4 9
5 6
5 7
5 8
5 9

# While Loop

In [46]:
#while loop to continually perform an action until some condition is met
i = 1 

while i < 5:
    print('i is : {}'.format(i))
    i = i + 1

i is : 1
i is : 2
i is : 3
i is : 4

In [23]:
range(1,10)

range(1, 10)

In [24]:
#convert it to list using range functions
a=list(range(1,10))

In [25]:
type(a)

list

# List comprehension

In [26]:
x=[1,2,3,4]

In [30]:
#usinng for Loop
#empty list
out=[]

#append value in an empty list using x
for num in x:
    out.append(num *2)

In [31]:
print(out)

[2, 4, 6, 8]

In [32]:
#using List Comprehension
[num * 2 for num in x]

[2, 4, 6, 8]

In [33]:
out=[num*2 for num in x]

In [34]:
out

[2, 4, 6, 8]

# Inbuilt functions

In [1]:
fam = [1,2.1,3,4,5]
print(fam)      #print is a default function of python
print(max(fam)) #default function
print(min(fam)) #default function
print(round(fam[1])) #default function
print(len(fam))

[1, 2.1, 3, 4, 5]
5
1
2
5

In [3]:
round(12.33333,2)  #round function

12.33

In [5]:
family = ['milan' , 'madhur' , 'bina', 'girish' , 'lana']
print(type(family))

<class 'list'>

In [12]:
family_cap= family[0].capitalize() # to change 1st alphabet to capital
family_upper=family[2].upper() # to change everything to upper case
print(family_cap)
print(family_upper)

Milan
BINA

In [15]:
print(fam)
print(sorted(fam,reverse=True))

[1, 2.1, 3, 4, 5]
[5, 4, 3, 2.1, 1]

# Functions

In [38]:
#simple functions
def my_func(param1):
    print(param1)

In [39]:
#now let's run the above function
my_func('Hello Milan!')

Hello Milan!

In [43]:
# a little diff function from above
def my_func1(name):
    print('hello ' + name)

In [44]:
my_func1('milan')

hello milan

In [8]:
# a little diff function with the default name
def my_func2(name='default name'):
    print('Hello '+ name)

In [12]:
my_func2('Milan')

Hello Milan

In [53]:
my_func2()

Hello default name

In [17]:
def square(num):
    '''squares the number'''    
    return num ** 2

In [18]:
square(4)

16

In [19]:
#do a shift tab to read about the function and docstring
square